{% extends 'base.html' %}

{% block title %} Boggle {% endblock %}

{% block content %}
<h1>Boggle</h1>

<table>
  <tbody>
    {% for row in board %}
    <tr>
      {% for cell in row %}
        <td>{{ cell }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>


<p>
  Score: <span class="score">0</span>
  <br>
  Timer: <span class="timer">15</span>
</p>

<form action="" method="" id="inputForm">
  <input type="text" placeholder="" name="guess" id="inputVal">
  <button id="submitBtn">Submit</button>
</form>


<p class="msg">
  <!-- show JS message -->
</p>

{% endblock %}